:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** 
 * EVM browser specific workaround: 
 * As a workaround to another issue, in dark mode electron, EVM browser put pre color as black.
 */
@media (prefers-color-scheme: dark) {pre {color: rgba(255, 255, 255, 0.87)}}

a {
  /* font-weight: 500; */
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

form input, form textarea {
  padding: 0.5em;
  border-radius: 8px;
  border: 1px solid #00000033;
  background-color: #1a1a1a;
  color: #fff;
  transition: border-color 0.25s;
}



#app {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  #app {
    padding-top: 4rem;
  }
}


/**
 * Common to all pages
 */
div[id^=page-] {
  display: none;
}

h2.page-title {
  text-align: center;
  margin-bottom: 0.4em;
}

/** 
 * Blog header 
 */

#blog-title {
  margin-bottom: 0em;
}

#blog-title a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

#blog-subtitle {
  color: #888;
  margin-top: 0.2em;
  margin-bottom: 0em;
  font-size: 1.2em;
}

hr#main-separator {
  margin: 3em 0;
  border: none;
  border-top: 4px solid #888;
}

a#admin-link {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 0.8em;
}


/** 
 * Home 
 */

#page-home #blog-entries {
  display: flex;
  
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

#page-home .blog-entry {
  flex-basis: 100%;
  text-align: left;
}

#page-home .blog-entry h2 {
  margin-top: 0;
  margin-bottom: 0;
}


/** 
 * Blog entry 
 */

#page-entry {
  text-align: left;
}

#page-entry .blog-entry-title {
  margin-bottom: 0.4em;
}

#page-entry hr {
  border: none;
  border-top: 2px solid #888;
}

#page-entry .sub-hr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  font-size: 0.9em;
}

#page-entry .date {
  color: #888;
}

/** Blog entry content, also reused in edit page preview */

.blog-entry-content img {
  max-width: 100%;
  height: auto;
}


/** 
 *Admin page 
 */

#page-admin {
  text-align: left;
}

#page-admin h3 {
  margin-bottom: 0.3em;
}

#page-admin h3 a {
  font-size: 80%;
  font-weight: normal;
}

#page-admin #admin-editors {
  margin-bottom: 5px;
}

#page-admin #admin-uploaded-files {
  margin-top: 0px;
}


/** 
 * Blog entry edit 
 */

#page-entry-edit {
  text-align: left;
}

#page-entry-edit form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#page-entry-edit form .form-row {
  display: flex;
  gap: 1em;
}

#page-entry-edit form label {
  flex: 0 0 100px;
  text-align: right;
  margin-top: 0.25em;
}

#page-entry-edit form input, #page-entry-edit form textarea {
  flex: 1;
}

#page-entry-edit form input:focus-visible, #page-entry-edit form textarea:focus-visible {
  outline: 2px solid rgb(116, 116, 116);
}

#page-entry-edit form textarea {
  resize: vertical;
  min-height: 300px;
  line-height: 1.4em;
}

#page-entry-edit form button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 0.5em 1em;
}

#page-entry-edit form .editor-toolbar {
  display: flex; 
  gap: 0.5em;
  margin-bottom: 0.8em;
}

#page-entry-edit form .editor-toolbar button.active {
  background-color: #1a1a1a;
  cursor: default;
}

#page-entry-edit form .editor-toolbar #button-insert-image {
  /* Align right */
  margin-left: auto;
}

#page-entry-edit form #content-textarea {
  display: flex;
}

#page-entry-edit form #content-preview {
  display: none;
  min-height: 312px;
}

#page-entry-edit form #burner-address-area {
  width: 100%;
}

#page-entry-edit form #burner-address-field-area {
  display: flex;
  gap: 1em;
  margin-bottom: 5px;
}

#page-entry-edit form .burner-help {
  font-size: 13px;
}

#page-entry-edit .error-message {
  display: none;
  margin-left: 120px;
  color: #ff6464;
  margin-bottom: 10px;
  font-size: 90%;
}

#page-entry-edit form .buttons {
  display: flex;
  margin-left: 120px;
  gap: 1em;
}