:root {
  --color-root-bg: #fff;

  --color-popup-bg: var(--color-root-bg);
  --color-panel-bg: #ccc;

  --color-heading: #333;
  --color-divider: #cdcdcd;
  --color-text: #333;
  --color-text-muted: #666;
  --color-link: #337ab7;
  --color-link-hover: #2b6aa1;

  --color-button-bg: #aaa;
  --color-button-secondary-bg: #ccc;
  --color-button: var(--color-text);
  --color-button-disabled: #888;
  --color-button-hover-border: #888;

  --color-input-bg: #fff;
  --color-input-border: #00000066;
  --color-input-focus-outline: rgb(201, 201, 201);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-root-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-root-bg: #242424;

    --color-panel-bg: #1a1a1a;

    --color-heading: #dfdfdf;
    --color-divider: #8b8b8b;
    --color-text: #fafafa;
    --color-text-muted: #888;
    --color-link: #646cff;
    --color-link-hover: #535bf2;

    --color-button-bg: #1a1a1a;
    --color-button-secondary-bg: #1e1e1e;
    --color-button-hover-border: #646cff;

    --color-input-bg: #1a1a1a;
    --color-input-focus-outline: rgb(116, 116, 116);
  }
}

/** 
 * EVM browser specific workaround: 
 * As a workaround to another issue, in dark mode electron, EVM browser put pre color as black.
 */
@media (prefers-color-scheme: dark) {pre {color: rgba(255, 255, 255, 0.87)}}

a {
  color: var(--color-link);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-link-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

form input, form textarea {
  padding: 0.5em;
  border-radius: 8px;
  border: 1px solid var(--color-input-border);
  background-color: var(--color-input-bg);
  color: var(--color-text);
  transition: border-color 0.25s;
}

form input:focus-visible, orm textarea:focus-visible {
  outline: 1px solid var(--color-input-focus-outline);
}

.cm-editor {
  border: 1px solid var(--color-input-border);
  /* background-color: var(--color-input-bg);
  color: var(--color-text); */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  font-family: inherit;
  background-color: var(--color-button-bg);
  color: var(--color-button);
  transition: border-color 0.25s;
}
button[disabled] {
  cursor: default;
  color: var(--color-button-disabled);
}
button:not([disabled]) {
  cursor: pointer;
}
button:not([disabled]):hover {
  border-color: var(--color-button-hover-border);
}
button:not([disabled]):focus,
button:not([disabled]):focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button.secondary {
  background-color: var(--color-button-secondary-bg);
}



#app {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#app-wrapper {
  padding: 2rem;
}

@media (max-width: 768px) {
  #app-wrapper {
    padding-top: 4rem;
  }
}


/**
 * Common to all pages
 */
div[id^=page-] {
  display: none;
}

h2.page-title {
  text-align: center;
  margin-bottom: 0.4em;
}

.no-entries {
  color: var(--color-text-muted);
}



/** 
 * Blog header 
 */

#blog-title {
  margin-bottom: 0em;
}

#blog-title a {
  color: var(--color-heading);
  text-decoration: none;
  font-weight: bold;
}

#blog-subtitle {
  color: var(--color-text-muted);
  margin-top: 0.2em;
  margin-bottom: 0em;
  font-size: 1.2em;
}

hr#main-separator {
  margin: 3em 0;
  border: none;
  border-top: 4px solid var(--color-divider);
}

a#admin-link {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 0.8em;
}


/** 
 * Home 
 */

#page-home #blog-entries {
  display: flex;
  
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

#page-home .blog-entry {
  flex-basis: 100%;
  text-align: left;
}

#page-home .blog-entry h2 {
  margin-top: 0;
  margin-bottom: 0;
}


/** 
 * Blog entry 
 */

#page-entry {
  text-align: left;
}

#page-entry .blog-entry-title {
  margin-bottom: 0.4em;
}

#page-entry hr {
  border: none;
  border-top: 2px solid var(--color-divider);
}

#page-entry .sub-hr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  font-size: 0.9em;
}

#page-entry .date {
  color: #888;
}

/** Markdown blog entry content, also reused in edit page preview. Aiming to look like github */

.blog-entry-content {
  overflow-wrap: break-word;
}

.blog-entry-content h1, .blog-entry-content h2 {
  border-bottom: 1px solid var(--color-divider);
}

.blog-entry-content img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .blog-entry-content img {
    width: 100%;
  }
}

.blog-entry-content blockquote {
  color: var(--color-text-muted);
  border-left: .25em solid var(--color-divider);
  padding: 0 1em;
  margin: 0;
}

.blog-entry-content code {
  background-color: var(--color-panel-bg);
  padding: .2em .4em;
  border-radius: 6px;
}

.blog-entry-content pre {
  padding: 16px;
  background-color: var(--color-panel-bg);
  overflow-y: auto;
}

.blog-entry-content pre code {
  padding: 0;
}

.blog-entry-content table {
  border-spacing: 0;
  border-collapse: collapse;
}

.blog-entry-content table tr:nth-child(2n) {
  background-color: var(--color-panel-bg);
}

.blog-entry-content table th, 
.blog-entry-content table td {
  padding: 6px 13px;
  border: 1px solid var(--color-divider);
}


/** 
 *Admin page 
 */

#page-admin {
  text-align: left;
}

#page-admin h3 {
  margin-bottom: 0.3em;
}

#page-admin h3 a {
  font-size: 70%;
  font-weight: normal;
}

#page-admin #admin-cols {
  display: flex;
  gap: 20px;
}

#page-admin #admin-cols .col {
  flex: 0 50%;
}

@media (max-width: 768px) {
  #page-admin #admin-cols {
    flex-direction: column;
    gap: 0;
  }
}

#page-admin #admin-blog-entries .edit-link {
  font-size: 80%;
  margin-left: 4px;
}

#page-admin #admin-editors {
  margin-bottom: 5px;
}

#page-admin #admin-uploaded-files ul {
  margin-top: 0px;
}


/** 
 * Blog entry edit 
 */

#page-entry-edit {
  text-align: left;
}

#page-entry-edit form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#page-entry-edit form .form-row {
  display: flex;
  gap: 1em;
}
@media (max-width: 768px) {
  #page-entry-edit form .form-row {
    flex-direction: column;
    gap: 0.2em;
  }
}

#page-entry-edit form label {
  flex: 0 0 100px;
  text-align: right;
  margin-top: 0.25em;
}
@media (max-width: 768px) {
  #page-entry-edit form label {
    flex: 0 0 100%;
    text-align: left;
  }
}

#page-entry-edit form input, #page-entry-edit form textarea {
  flex: 1;
}

#page-entry-edit form .editor-toolbar {
  display: flex; 
  gap: 0.5em;
  margin-bottom: 0.8em;
  font-size: 14px;
}

#page-entry-edit form .editor-toolbar button.active {
  cursor: default;
}

#page-entry-edit form .editor-toolbar #button-insert-image {
  /* Align right */
  margin-left: auto;
}

#page-entry-edit form #content-area {
  display: flex;
  min-height: 300px;
  max-height: 600px;
}

#page-entry-edit form #content-area .cm-editor {
  flex: 1;
}

#page-entry-edit form #content-preview {
  display: none;
  min-height: 300px;
  max-height: 598px; /** :-) */
  overflow-y: scroll;
}

/** "Wide" screen: Editor + preview side by side */
@media (min-width: 1400px) {
  #page-entry-edit form .editor-toolbar #button-markdown {
    display: none;
  }
  #page-entry-edit form .editor-toolbar #button-preview {
    display: none;
  }
  #page-entry-edit form .editor-toolbar #button-insert-image {
    margin-left: 0;
  }

  #page-entry-edit form #content-area-preview {
    display: flex;
    /** We want to take 96% of screen width up to 2000px max */
    width: min(96vw, 2000px);
    margin-left: calc(50% - ((100px + 1em) / 2) - min(48vw, 1000px));
  }

  #page-entry-edit form #content-area {
    display: flex !important; /* !important in case the user change screen width and hide content */
    flex: 0 1 50%;
  }

  #page-entry-edit form #content-preview {
    display: block !important; /* !important in case the user change screen width and hide preview */
    flex: 0 1 50%;
    border-right: 1px solid var(--color-input-border);
    border-bottom: 1px solid var(--color-input-border);
    border-top: 1px solid var(--color-input-border);
    padding: 0em 1em;
  }
}

#page-entry-edit form #burner-address-area {
  width: 100%;
}

#page-entry-edit form #burner-address-field-area {
  display: flex;
  gap: 1em;
  margin-bottom: 5px;
}

#page-entry-edit form .burner-help {
  font-size: 13px;
}

#page-entry-edit .error-message {
  display: none;
  margin-left: 120px;
  color: #ff6464;
  margin-bottom: 10px;
  font-size: 90%;
}

#page-entry-edit form .buttons {
  display: flex;
  margin-left: 120px;
  gap: 1em;
}
@media (max-width: 768px) {
  #page-entry-edit form .buttons {
    margin-left: 0;
  }
}