:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  #app {
    padding-top: 4rem;
  }
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #61c23eaa);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 0.2em;
  margin-bottom: 0em;
}

.read-the-docs {
  color: #888;
  margin-bottom: 3em;
}

#blogs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2em;
  margin: 2em 0;
  padding: 2em;
  border-radius: 8px;
  background-color: #1a1a1a;
  box-shadow: 0 0 1em #00000033;
  transition: transform 0.25s;
}

.blog {
  padding: 1.5em;
  border-radius: 8px;
  background-color: #242424;
  box-shadow: 0 0 1em #00000033;
  transition: transform 0.25s;
}

.blog .title {
  margin-top: 0em;
  margin-bottom: 0.5em;
}
.blog .title a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.blog .description {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button#create-your-own {
  position: absolute;
  top: 1em;
  right: 1em;
}

.required {
  color: #ff6464;
}

#create-popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  place-items: center;
  background-color: #000000aa;
  z-index: 100;
}

#create-popup {
  max-width: 400px;
  margin: 0 auto;
  padding: 2em;
  border-radius: 8px;
  background-color: #242424;
  box-shadow: 0 0 1em #00000033;
}

#create-popup h2 {
  margin-top: 0em;
  margin-bottom: 1em;
}

#create-popup .form-row {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}

#create-popup label {
  flex: 0 0 100px;
  text-align: right;
  margin-top: 0.25em;
}

#create-popup input, #create-popup textarea {
  flex: 1;
  padding: 0.5em;
  border-radius: 8px;
  border: 1px solid #00000033;
  background-color: #1a1a1a;
  color: #fff;
  transition: border-color 0.25s;
}

#create-popup input:focus, #create-popup textarea:focus {
  outline: none;
  border-color: #646cff;
}

#create-popup #subdomain-input {
  display: flex;
}

#create-popup #subdomain {
  border-radius: 8px 0 0 8px;
}

#create-popup #subdomain-input-help, #create-popup #subdomain-check {
  text-align: left;
  font-size: 80%;
  margin-top: 0.4em;
}

#create-popup .domain-suffix {
  padding: 0.3em;
  border-radius: 0 8px 8px 0;
  border: 1px solid #00000033;
  background-color: #1a1a1a;
  color: #fff;
}

#create-popup #error-message {
  display: none;
  color: #ff6464;
  margin-bottom: 1em;
  font-size: 90%;
}

#create-popup #step-2 {
  display: none;
}

#create-popup #created-blog-address {
  font-size: 140%;
  margin-bottom: 1em;
}

#create-popup #created-blog-infos {
  font-size: 90%;
  color: #888;
  margin-bottom: 1.4em;
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
